html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color: #3e3e3e;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #1f0dc4;
}


/* Style for the clock */
#clock {
  font-size: 130px;
  text-align: center;
  color: rgb(244, 239, 239);
  padding: 10px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

/* Style for date, day name, temperature, and humidity containers */
.first{
  position: absolute;
  left: 30%;
  padding: 10px;

}
.second{
  position: absolute;
  left: 55%;
  padding: 10px;

}

#date-temp{
  font-size: 150%;
  padding-bottom: none;
}

#dayName-humi{
  font-size: 150%;
  padding: none;
  margin-bottom: 50px;
}

/* Style for spacing between elements */
.space {
  margin-left: 20px; /* Adjust the margin as needed for your desired spacing */
}



p {
  text-align: center;
  margin-top: 20px;
}

input[type="number"] {
  width: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the button */
.button {
  padding: 10px 20px;
  margin: 20px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-align: center; /* Center text within the button */
}

/* Hover effect for the button */
.button:hover {
  background-color: #0056b3;
}
